*{
	margin:0;
	padding:0;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#container{
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:100%;
	height:100%;
	overflow: hidden;
	background: #41d0fa;
	background: -webkit-gradient(linear, left top, left bottom, from(#319ffd), to(#41d0fa));
	background: -webkit-linear-gradient(#319ffd, #41d0fa);
	background: -moz-linear-gradient(top, #319ffd, #41d0fa);
	background: -ms-linear-gradient(#319ffd, #41d0fa);
	background: -o-linear-gradient(#319ffd, #41d0fa);
	background: linear-gradient(#319ffd, #41d0fa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#319ffd', endColorstr='#41d0fa');
	zoom: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#monkey{
	position: absolute;
	z-index:10;
	width:50px;
	height:50px;
	bottom:200px;
	left:50%;
	margin-left: -25px;
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
}

#monkey:after{
	content: "";
	position: absolute;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	background-image:url(../images/monkey.gif);
	background-size: 50px 50px;
	background-position: center;
}

#monkey.rotate-left:after{
	-webkit-animation:rotate_left 0.4s linear;
	-webkit-animation-iteration-count:1;
}

#monkey.rotate-right:after{
	-webkit-animation:rotate_right 0.4s linear;
	-webkit-animation-iteration-count:1;
}

@-webkit-keyframes rotate_left{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-360deg);
	}
}

@-webkit-keyframes rotate_right{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}

#monkey.die:after{
	-webkit-animation:die 1s linear;
	-webkit-animation-iteration-count:1;
}

@-webkit-keyframes die{
	0%{
		-webkit-transform:scale(1);
	}
	30%{
		-webkit-transform:scale(1.5) translateY(-100px)!important;
	}
	100%{
		-webkit-transform:scale(1) translateY(200px)!important;
	}
}

#gameplay-screen{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;
	overflow: hidden;
}

#level{
	position: absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height: auto;
	z-index:2;
	overflow: hidden;
}

.branch-row{
	position: absolute;
	left:0px;
	width:100%;
	height: 25px;
	z-index:1;
}

.branch{
	position: absolute;
	z-index: 1;
	height:25px;
	background:brown;
}

.branch.left{
	left:0px;
}

.branch.right{
	right:0px;
}

.banana{
	position: absolute;
	width:20px;
	height: 30px;
	background:yellow;
	z-index: 1;
}