*{
	margin:0;
	padding:0;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#container{
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:100%;
	height:100%;
	overflow: hidden;
	background: #41d0fa;
	background: -webkit-gradient(linear, left top, left bottom, from(#319ffd), to(#41d0fa));
	background: -webkit-linear-gradient(#319ffd, #41d0fa);
	background: -moz-linear-gradient(top, #319ffd, #41d0fa);
	background: -ms-linear-gradient(#319ffd, #41d0fa);
	background: -o-linear-gradient(#319ffd, #41d0fa);
	background: linear-gradient(#319ffd, #41d0fa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#319ffd', endColorstr='#41d0fa');
	zoom: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#monkey{
	position: absolute;
	width:50px;
	height:50px;
	bottom:200px;
	left:50%;
	margin-left: -25px;
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	background-image:url(../images/monkey.gif);
	background-size: 50px 50px;
	background-position: center;
}

#monkey.rotate:after,
#monkey.rotate:before{
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	z-index:5;
	top:0px;
	left:0px;
	border:4px solid rgba(255,255,255,0.8);
	border-top-color: transparent;
	border-radius: 50px;
	-webkit-animation:rotate 0.4s infinite linear;
}

#monkey.rotate:before{
	top:6px;
	left:6px;
	width:30px;
	height:30px;
	border:4px solid rgba(0,93,164,0.8);
	border-left-color: transparent;
}


@-webkit-keyframes rotate{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}